* {
    box-sizing: border-box;
}

.nav {
    background-color: #EDEDEF;
    height: 82px;
    display: flex;
    justify-content: space-between;
}

.navbar-box {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 32px;
}

.navbar {
    list-style-type: none;
}

.nav-item {
    display: inline;
    padding-left: 32px;
}

.navbar a {
    color: black;
    text-decoration: none;

}

.imgLogo {
    height: 20px;
    width: auto;
}

.heroImage {
    background-color: bisque;
    height: 250px;
    width: 300px;
    margin: 50px;
}

.hero {
    display: flex;
    justify-content: space-around;
}

#artikelHero {
    padding: 50px;

}

footer {
    background-color: #EDEDEF;
}
